APP_NAME=elevator_v2
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8082

DB_CONNECTION=pgsql
DB_HOST=postgres
DB_PORT=5432
DB_DATABASE=elevator
DB_USERNAME=elevator
DB_PASSWORD=elevator

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=null
